# 1. Ignore Python Cache and Virtual Environments
__pycache__/
venv/
.env

# 2. STRICTLY IGNORE THE BACKEND AI & SCRAPING CODE
models/
pipeline/
utils/
config/
checkpoints/
run_pipeline.py
run_live_predictions.py
simulate_backtest.py
test.ipynb
daily_run.bat
train_model.py
note.txt




# 4. EXPLICITLY ALLOW THE FRONTEND & PROCESSED DATA
!app/
!data/
!logs/